
*.pem
*.pfx
demo/
!**/packages/build/
!*.[Cc]ache/
publish/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts

**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml

**/packages/*
*.DS_Store

*.DotSettings.user
*.GhostDoc.xml
*.Resharper
*.VC.VC.opendb

*.VC.db
*.VisualState.xml

*.[Cc]ache
*.[Pp]ublish.xml

*.[Rr]e[Ss]harper
*.app

*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings

*.build.csdef
*.cache
*.cachefile

*.dbmdl
*.dbproj.schemaview

*.dmg
*.dotCover

*.dotCover
*.gpState
*.ilk
*.jfm
*.ldf
*.log
*.mdf
*.meta
*.mm.*

*.ncb
*.nuget.props

*.nuget.targets
*.nupkg
*.obj
*.opendb
*.opensdf
*.opt
*.pch

*.pdb
*.pfx
*.pgc
*.pgd

*.pidb
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pyc
*.rdl.data
*.rsp
*.sap
*.sbr

*.scc
*.sdf
*.sln.cache

*.sln.docstates
*.sln.iml
*.suo

*.suo
*.svclog
*.tar.gz
*.tlb
*.tlh

*.tli
*.tmp
*.tmp_proj
*.user
*.user

*.userosscache
*.userprefs
*.userprefs
*.usertasks
*.vsp
*.vspscc
*.vspx
*.vssscc
*_Resharper.*
*_i.c
*_i.h

*_p.c
*~
*~

.*crunch*.local.xml
.JustCode

.builds
.cr/
.fake/
.idea/
.idea/
.ntvs_analysis.dat
.paket/paket.exe

.sass-cache/
.vs/
AkkaNetPoC/.vs/AkkaNetPoC/v15/sqlite3/storage.ide

AkkaNetPoC/Loaner/SampleData/*.txt
AkkaNetPoC/Loaner/SampleData/Obligations/*.txt
AkkaNetPoC/Loaner/tools/test*
AkkaNetPoC/SampleData/

AppPackages/
AutoTest.Net/

Backup*/
BundleArtifacts/

ClientBin/
DocProject/Help/*.HxC

DocProject/Help/*.HxT
DocProject/Help/*.hhc

DocProject/Help/*.hhk
DocProject/Help/*.hhp

DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
FakesAssemblies/
Generated_Code/
Loaner/SampleData/*.txt
Loaner/SampleData/Obligations/*.txt

Makefile.in
Package.StoreAssociation.xml
PublishScripts/

SampleData/*.txt
SampleData/Obligations/*.txt

TestResult.xml
TestResults/
Thumbs.db

UpgradeLog*.XML
UpgradeLog*.htm

[Bb]in/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Oo]bj/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
_Chutzpah*

_NCrunch_*
_Pvt_Extensions
_ReSharper*/

_TeamCity*
_UpgradeReport_Files/
__pycache__/
_pkginfo.txt
aclocal.m4
akka_demo.db
akka_demo.db*

artifacts/
autom4te.cache/
bld/
config.log
config.make
config.status
csx/
dlldata.c
ecf/
install-sh
ipch/
log/
nCrunchTemp_*
nlog*.log
node_modules/
orleans.codegen.cs
out/
packages/
paket-files/
project.fragment.lock.json

project.lock.json
publish/
rcf/

snapshots/
tarballs/
test-results/

x64/
x86/
~$*
